@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
:root {
    --whiteColor: #ffffff;
    --primaryColor: #4032a8;
    --silverColor: #C0C0C0;
    --darkBlueColor: #2550BE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("/images/hotel_background.jpg");
    background-size: cover;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

header {
    /* background-color: var(--primaryColor); */
    color: var(--whiteColor);
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 3rem;
}

#search-containter {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

#countryInput {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-right: 0.5rem;
    width: 200px;
}

#searchButton {
    background-color: var(--darkBlueColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/********main*********/
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/***section******/
section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
/********Search results*********/
.hotel-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

/********Hotel cards*********/
.hotel-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}

/********Hotel details*********/
#hotelDetails {
    border: 2px solid black;
    padding: 1rem;
    border-radius: 5px;
}

.hidden {
    display: none;
}